@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: url(images/Hexagon.svg) no-repeat border-box;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #000 !important;
    justify-content: center;
    /* width: 100vh; */
    height: 100vh;
}

.main {
    background-color: white;
    padding: 1rem 3rem 3rem;
    min-width: 40%;
}

h1 {
    font-size: larger;
}

.lable {
    margin-left: 10px !important;
    font-size: 16px;
}

.selection {
    margin-top: 20px;
}

/* label color */
.input-field label,
label {
    color: rgba(0, 0, 0, 0.877) !important;
}

.input-field {
    margin: 1.2rem auto !important;
}

@media only screen and (max-width: 768px) {
    body {
        background: url(images/phonebg.svg) no-repeat border-box;
        height: 100%;

    }

    .main {
        padding: 2rem;
        margin: 1rem;
    }
}